/* image */

html,
body {
    height: 100%;
}

/* font instructions */

body {
    font-family: 'Quicksand', sans-serif;
}

.bgimage {
    background-image: url("images/sparkler.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-block {
    background-color: rgb(37, 36, 36);
    opacity: 0.8;
    width: 100px;
    margin: auto;
    position: relative;
    top: 365px;
}

#id {
    white-space: normal;
    text-decoration: none;
    
}

#cmbutton{
    margin: 30px;
}

.cs,
.be {
    color: rgb(225, 225, 225);
    padding: 20px;
    text-align: center;
}