html,body {
    height: 100%;
}


.bgimage {
    background-image: url("images/sparkler.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}